.Rproj.user
.Rhistory
.RData
.httr-oauth
.secrets
.DS_Store
.quarto
.secrets
*.png
*.pdf
*.jpg
*.shp
*.dbf
*.sbn
*.sbx
*.shx
*.prj
*.cpg
*.tiff
*.xml
*.sr.lock
*.vscode
*.json
.radian_profile
data.sqlite
.secrets
